<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>
  <body>
    <div class="container center mt6">
      <h1 class="tc">Who's Home?</h1>
      <h2 class="tc">123 Main Street</h2>
      <div class="button-wrapper">
        <a href=/edit>
          <div class="button pa2 mt3">
            <h5>Edit</h5>
          </div>
        </a>
      </div>
      <div class="tablerow mt2">
        <div class="resident bg-light-gray mr2">
          <div class="resident-header pa3">
            <div class="number bg-moon-gray br-100 mr3">
              <h1>1</h1>
            </div>
            <h4>{{key4['name']}}</h4>
          </div>
          <div class="icon b--light-silver bl at-home pa2">
            <div class="icon-wrapper">
              {% if key4['status'] == "home" %}
              <img class = "profile w2 h2 br-100" src="../static/img/greencheck.png"/>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="resident bg-light-gray ml2">
          <div class="resident-header pa3">
            <div class="number bg-moon-gray br-100 mr3">
              <h1>2</h1>
            </div>
            <h4>{{key3['name']}}</h4>
          </div>
          <div class="icon b--light-silver bl at-home pa2">
            <div class="icon-wrapper">
              {% if key3['status'] == "home" %}
              <img class = "profile w2 h2 br-100" src="../static/img/greencheck.png"/>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="tablerow mt3">
        <div class="resident bg-light-gray mr2">
          <div class="resident-header pa3">
            <div class="number bg-moon-gray br-100 mr3">
              <h1>3</h1>
            </div>
            <h4>{{key2['name']}}</h4>
          </div>
          <div class="icon b--light-silver bl at-home pa2">
            <div class="icon-wrapper">
              {% if key2['status'] == "home" %}
              <img class = "profile w2 h2 br-100" src="../static/img/greencheck.png"/>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="resident bg-light-gray ml2">
          <div class="resident-header pa3">
            <div class="number bg-moon-gray br-100 mr3">
              <h1>4</h1>
            </div>
            <h4>{{key1['name']}}</h4>
          </div>
          <div class="icon b--light-silver bl at-home pa2">
            <div class="icon-wrapper">
              {% if key1['status'] == "home" %}
              <img class = "profile w2 h2 br-100" src="../static/img/greencheck.png"/>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
